<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>

<body>
<table>
    <tr>
        <td valign="top" width="50%">
            <button id="close">Close</button>
            <input type="file" name="fileToUpload" id="input">
            <input type="submit" value="Upload File" name="submit" id="send">
        </td>
        <td valign="top" width="50%">
            <div id="output"></div>
        </td>
    </tr>
</table>
</body>

<script>
    window.addEventListener("load", function (evt) {
        var output = document.getElementById("output");
        var input = document.getElementById("input");
        var ws;

        ws = new WebSocket("wss://bucket.endgraf.com/ws");
        ws.binaryType = "arraybuffer";

        ws.onopen = function (evt) {
            print("OPEN");
        };
        ws.onclose = function (evt) {
            print("CLOSE");
            ws = null;
        };
        ws.onmessage = function (evt) {
            print("RESPONSE: " + evt.data);
        };
        ws.onerror = function (evt) {
            print("ERROR: " + evt.data);
        };

        var print = function (message) {
            var d = document.createElement("div");
            d.textContent = message;
            output.appendChild(d);
        };


        document.getElementById("send").onclick = function (evt) {
            if (!ws) {
                return false;
            }
            var file = input.files[0];

            var reader = new FileReader();

            var rawData = new ArrayBuffer();

            reader.loadend = function() {

            }

            reader.onload = function(e) {
                console.log()
                rawData = e.target.result;
                // ws.send(rawData)
                ws.send(JSON.stringify({
                    user_id: 1, // logic base
                    name: file.name,
                    type: file.type,
                    result: Array.from(new Uint8Array(rawData))
                }));

            }

            reader.readAsArrayBuffer(file);

            // print("SEND: " + input.value);
            //
            // ws.send(input.value);
            return false;
        };

        document.getElementById("close").onclick = function (evt) {
            if (!ws) {
                return false;
            }
            ws.close();
            return false;
        };
    });
</script>
</html>